// bower:scss
// endbower
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/placeholders";

// space utilities
.p-0 {
  padding: 0;
}

.p-2 {
  padding: $space-2;
}

.pl-1 {
  padding-left: $space-1;
}

.pr-1 {
  padding-right: $space-1;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: $space-1;
}
// other utlities
.border-0 {
  border: 0px none;
}

// old browser
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// use border-box
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// apply whole project css
html, body {
  font: $font;
}

html,body, #app, main {
  height: 100%;
}

// background image css
.background-cover {
  @extend %full-width-height;
  object-fit: cover;
  display: block;
  position: absolute;
  z-index: -1;
}

@include progress(grey, $color-app-primary, 25px);
.progress {
  width: $progress-width;
  height: 2px;
}

.timers {
  // progress counter should be at the start,
  // duration indicator should be at the end
  // of the progress bar. Hence we are keeping
  // up with its width
  width: $progress-width;
}

.current {
  @include absolute-position-top-or-bottom('top');
  @media #{$larger-than-mobile} {
    right: calc(50% - #{$controls-width} / 2);
    left: calc(50% - #{$controls-width} / 2);
  }
  &::before {
    content: "";
    z-index: -1;
    opacity: 0.75;
    background: $color-controls-background;
    height: $size-controls-current-height;
    @include absolute-position-top-or-bottom('top');
    @media #{$larger-than-mobile} {
      right: calc(50% - #{$controls-width} / 2);
      left: calc(50% - #{$controls-width} / 2);
    }
  }
}

.play-pause {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - #{$size-button-controls} / 2);
  left: calc(50% - #{$size-button-controls} / 2);
  right: calc(50% - #{$size-button-controls} / 2);
  bottom: calc(50% - #{$size-button-controls} / 2);
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    opacity: 0.75;
    background: $color-controls-background;
    border-radius: 50%;
    top: calc(50% - #{$size-button-controls} / 2);
    left: calc(50% - #{$size-button-controls} / 2);
    right: calc(50% - #{$size-button-controls} / 2);
    bottom: calc(50% - #{$size-button-controls} / 2);
  }
}

.upcoming {
  @include absolute-position-top-or-bottom('bottom');
  @media #{$larger-than-mobile} {
    right: calc(50% - #{$controls-width} / 2);
    left: calc(50% - #{$controls-width} / 2);
  }
  &::before {
    content: "";
    z-index: -1;
    opacity: 0.75;
    background: $color-controls-background;
    height: $size-controls-upcoming-height;
    @include absolute-position-top-or-bottom('bottom');
    @media #{$larger-than-mobile} {
      right: calc(50% - #{$controls-width} / 2);
      left: calc(50% - #{$controls-width} / 2);
    }
  }
}

.flexbox {
  display: flex;
}

.flexbox--column {
  flex-direction: column;
}

.horizontally-auto-centered {
  margin-left: auto;
  margin-right: auto;
}

.justify-between {
  justify-content: space-between;
}

.thumbnail {
  width: 64px;
  height: auto;
  max-height: 64px;
}

.controls-button {
  background-color: transparent;
  width: $size-button-controls;
  height: $size-button-controls;
  & img {
    @extend %full-width-height;
  }
}
