$progress-color: #3eb4aa;
$space-1: 0.5em;
$space-2: 1em;
$space-3: 1.5em;
$space-4: 2em;
$space-5: 3em;
$break: "screen and (min-width: 479px)";
$progress-width: 50%;
$font: 16px 'Roboto', 'Helvetica', sans-serif;
