<main>
  <img class="background-cover" ng-src="{{player.current.imgUrl}}" alt="{{player.current.name}}">
  <section class="current p-2 flexbox flexbox--column">
    <p class="mt-1 p-0 horizontally-auto-centered">{{player.current.title}} - {{player.current.artist}}</p>
    <progress class="progress horizontally-auto-centered" value="70" max="100">70 %</progress>
    <div class="timers mt-1 flexbox justify-between horizontally-auto-centered">
      <span>{{player.time}}</span>
      <span>{{player.duration}}</span>
    </div>
  </section>
  <button class="controls-button border-0 play-pause" ng-click="player.togglePlayPause()">
    <img ng-src="{{player.playing === true && 'images/pause.svg' || 'images/play-arrow.svg'}}" alt="Pause">
  </button>
  <section class="upcoming p-2">
    <h3 class="mt-0">Up Next</h3>
    <div class="flexbox justify-between">
      <div class="flexbox">
        <img class="thumbnail" ng-src="{{player.upcoming.imgUrl}}" alt="{{player.upcoming.artist}}">
        <div class="pr-1 pl-1">
          <p class="mt-1 p-0">{{player.upcoming.title}}</p>
          <p class="p-0 m-0">{{player.upcoming.artist}}</p>
        </div>
      </div>
      <button class="border-0 controls-button">
        <img ng-src="images/skip-next.svg" alt="Next">
      </button>
    </div>
  </section>
</main>
